version: 1.1.{build}

skip_commits:
  message: /readme.*|doc.*/

only_commits:
  files:
    - xpoTools/
    - xpoTools.nuspec

init:
- ps: >-
    $PSVersionTable

    [System.Environment]::OSVersion

install:
- ps: >-
    Install-PackageProvider -Name NuGet -Force | Out-Null

    Install-Module -Name Pester -Force

    Install-Module -Name PSScriptAnalyzer -Force

    Install-Module -Name SplitPipeline -Force

build_script:
- ps: >-
    $ModuleName = 'xpoTools'

    $ModuleRoot = Join-Path ([Environment]::GetFolderPath('MyDocuments')) WindowsPowerShell\Modules\$ModuleName
    
    Copy-Item $ModuleName $ModuleRoot -Recurse

test_script:
- ps: Invoke-Pester -EnableExit